<%- model_class = User -%>
<div class="page-header">
  <h1>Update User info</h1>
</div>
<%= simple_form_for @user, :html => { :class => 'form-horizontal' } do |f| %>
<fieldset class="control-group">
<div class="span5">
		<%= f.input :email, :required => true, :value => @user.email %>
		<div class="well controls">
			<%= f.submit "Update", :class => 'btn btn-primary' %>
			<%= link_to "Cancel", user_path(@user), :class => 'btn' %>	

		</div>
</div>

	
	
</fieldset>
<% end %>

