<%- model_class = User -%>
<div class="page-header">
  <h1>Register</h1>
</div>
<div class="well">
	<i class="icon-info-sign"></i> You should only register if you want to post a job offer, job applicants don't need an account.
</div>
<%= render :partial => 'form' %>
