<%- model_class = Company -%>
<div class="page-header">
  <h1>Companies index</h1>
</div>
<%
@grouped = {}
@companies.each do |company|
  letter = company.initial.upcase
  @grouped[letter] ||= []
  @grouped[letter] << company
end
 %>

<div class="span9 offset1">
<ul>
  <% @grouped.keys.sort.each do |letter| %>
    <li>
      <h2><%= letter %></h2>
      <ul>
        <% @grouped[letter].each do |company| %>
          <li><%= link_to company.name, company_path(company) %> <% if company.industry != "" %>- <%= company.industry %> <% end %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
</div>