You have received a new email from <a href="http://job-board.parisoma.com/contact" target="_blank">PARISOMA Job Board Contact Form</a>:

From: <%= @email %>
Subject: <%= @subject %>

Content:
<%= @content %>