<div class="page-header">
  <h1>FAQ</h1>
</div>

<div class="span9 offset1">
	<h3>Are you going to fill this FAQ page soon?</h3>
	<p>We can assure you that our team is working day and night on this FAQ page, we will add some content soon.</p>
	<h3>I love the new PARISOMA identity and colors!</h3>
	<p>Well, this is not a question... but thank you anyway!</p>
	<h3>Is there any way I can receive weekly news from PARISOMA? </h3>
	<p>Glad you ask! We, indeed, have a weekly newsletter which is sent every Wednesday (including community news, our scheduled events for the upcoming weeks, and so on...). You can subscribe here:</p>
	<form action="http://parisoma.us1.list-manage.com/subscribe/post?u=fa7fe995ce473590bd2366656&amp;id=eedeb2cf04" method="post" class="form-horizontal" target="_blank">
		<div class="control-group">
		    <label class="control-label" for="EMAIL">Email</label>
		    <div class="controls">
		      <input type="email" name="EMAIL" placeholder="youremail@tosubscribe.com">
		    </div>
		  </div>
		<div class="control-group">
			<div class="controls">
			  <button type="submit" name="Subscribe" class="btn btn-parisoma">Subscribe</button>
		    </div>
		  </div>		
	</form>

</div>
